<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Home Visit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-slides [options]="{loop: true, autoplay: true}">

    <ion-slide>
      <img src="assets/2.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/4.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/5.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/8.jpg" />
    </ion-slide>

  </ion-slides>
  <div class="ion-padding-horizontal">
    <ion-item>
      <ion-textarea rows="6" cols="20" autoGrow="true" [(ngModel)]="message"
        placeholder="Help us if describe more (Patient's Name & Mobile No., Doctor's Name & Mobile No. & Mention in short patient's problems & Lab tests etc...)">
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select placeholder="Lab Test" (ionChange)="itemChange($event)" multiple="true">
        <ion-select-option *ngFor="let item of itemList" [value]="item.name">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="booking-wrap">
    <div class="attachment">
      <p class="attach_note">If more than 8 pages attachment, you can email us <b>support@surgician.com</b>. Maximum allowed each attachment size is 5MB.</p>
      <ion-button (click)="presentActionSheet()" color="secondary"> Attach Report/Prescription &nbsp; <ion-badge
          color="success" *ngIf="attachmentImg.length > 0 || photoService.photos.length > 0">{{attachmentImg.length + photoService.photos.length}}</ion-badge>
      </ion-button>
      <input #userInput style="position: absolute; width: 0; height: 0; opacity: 0" multiple type="file"
        (change)="loadImageFromDevice1($event)" class="fileInput" accept="image/png, image/jpeg">
    </div>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-button expand="block" color="tertiary" (click)="Book()">Submit</ion-button>
</ion-footer>