<ion-content *ngIf="items">
  <div class="ion-padding-horizontal page-header">
    <h2 class="page-title">Hello, {{items.patient_lastname}} {{items.patient_firstname}}</h2>
    <ion-text>
      <p>What are you looking for?</p>
      <ion-button size="small" shape="round" color="success" fill="solid" routerLink="/makeapayment">
        <ion-icon name="wallet-sharp"></ion-icon> Quick Pay</ion-button>
      <ion-button size="small" shape="round" color="light" fill="solid" href="javascript:void(Tawk_API.toggle())">
        <ion-icon name="chatbubbles-sharp"></ion-icon> Chat</ion-button>
      <ion-button size="small" shape="round" color="warning" fill="solid" href="tel:09987087087">
        <ion-icon name="call-sharp"></ion-icon> Call Us
      </ion-button>
    </ion-text>
  </div>

  <div class="grid">

    <ion-row>

      <ion-col (click)="presentActionSheet()">
        <ion-card class="ion-text-center">
          <ion-icon name="flask-outline"></ion-icon>
          <h5>Diagnostics</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/online-pharmacy">
        <ion-card class="ion-text-center">
          <ion-icon name="medkit-outline"></ion-icon>
          <h5>Pharmacy</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/health-check-up">
        <ion-card class="ion-text-center">
          <ion-icon name="pulse-outline"></ion-icon>
          <h5>Health Checkup</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/second-openion">
        <ion-card class="ion-text-center">
          <ion-icon name="id-card-outline"></ion-icon>
          <h5>Second openion</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/tabs/search">
        <ion-card class="ion-text-center">
          <ion-icon name="laptop-outline"></ion-icon>
          <h5>Online Appointment</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/homehealthcare">
        <ion-card class="ion-text-center">
          <ion-icon name="bed-outline"></ion-icon>
          <h5>Home HealthCare</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/request-call">
        <ion-card class="ion-text-center">
          <ion-icon name="call-outline"></ion-icon>
          <h5>Request a Call</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/health-buddy">
        <ion-card class="ion-text-center">
          <ion-icon name="people-outline"></ion-icon>
          <h5>Health Buddy</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/result">
        <ion-card class="ion-text-center">
          <ion-icon name="git-network-outline"></ion-icon>
          <h5>Doctor</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/hospital">
        <ion-card class="ion-text-center">
          <ion-icon name="business-outline"></ion-icon>
          <h5>Hospital</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/partner">
        <ion-card class="ion-text-center">
          <ion-icon name="people-circle-outline"></ion-icon>
          <h5>Our Partner</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/medical-records">
        <ion-card class="ion-text-center">
          <ion-icon name="receipt-outline"></ion-icon>
          <h5>Medical Records</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/post-offer">
        <ion-card class="ion-text-center">
          <ion-icon name="megaphone-outline"></ion-icon>
          <h5>Post Offer</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/one-click">
        <ion-card class="ion-text-center">
          <ion-icon name="open-outline"></ion-icon>
          <h5>One Click</h5>
        </ion-card>
      </ion-col>


      <!-- <ion-col routerLink="/tabs/search">
        <ion-card class="ion-text-center">
          <h5>All Category</h5>
        </ion-card>
      </ion-col> -->
      
      <!-- <ion-col routerLink="/tabs/appointment">
        <ion-card class="ion-text-center">
          <h5>History</h5>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/medicalreports">
        <ion-card class="ion-text-center">
          <h5>Need Help?</h5>
        </ion-card>
      </ion-col> -->

      <!-- <ion-col routerLink="/any-other">
        <ion-card class="ion-text-center">
          <h5>Terms &amp; Conditions</h5>
        </ion-card>
      </ion-col> -->

    </ion-row>

  </div>
  <div class="upcoming-section">
    <h6 class="ion-padding-horizontal section-title"><b>Latest</b></h6>

    <div *ngIf="empty != 0" class="ion-padding-horizontal">
      <h6>No Appointment Found</h6>
    </div>
    <div *ngIf="empty != 1">
      <ion-card (click)="promptNotify()">
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img src="{{imgURL}}{{clinicID}}/doctor/{{doctorAvatar}}">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-label>
              <h5><b>Dr. {{doctorName}}</b></h5>
              <h6>{{Speciality}}</h6>
              <ion-badge color="success">{{appDate}}, {{appTime}}</ion-badge>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

  </div>
</ion-content>